body { margin-bottom: 10px; margin-top: 10px; margin-left: 0px; margin-right: 0px; font-family: Arial, Verdana, Helvetica; font-size: 9pt; color: #000000; background-color: #CC6600 }
table { font-family: Arial, Verdana, Helvetica; font-size: 10pt; color: #000000; background-color: #CC6600 }
a:link { font-weight: bold; text-decoration: none; color:#FFCC00 }
a:visited { font-weight: bold; text-decoration: none; color:#CCCCCC }
a:active { font-weight: bold; text-decoration: none; color:#FFCC00 }
a:hover { font-weight: bold; color:#FFFFFF; }
p { margin-bottom: 0px; margin-top: 0px }
h1 { margin-bottom: 0px; margin-top: 0px; font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-weight: bold; color: #000000 }
h2 { margin-bottom: 0px; margin-top: 0px; font-family: Arial, Verdana, Helvetica; font-size: 7pt; font-weight: bold; color: #000000 }
h3 { font-family: Arial, Verdana, Helvetica; font-size: 9pt; color: #000000 }